[Reference](https://towardsdatascience.com/automate-your-data-management-discipline-with-python-d7f3e1d78a89)

In [1]:
pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodbc
  Downloading pyodbc-4.0.35-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (329 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 329.8/329.8 KB 7.2 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.35

In [2]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=<server>;'
                          'Database=<database>;'
                          'Trusted_Connection=yes;')

cursor = conn.cursor()
sql_query = "SELECT * FROM table_name"
cursor.execute(sql_query)
cursor.fetchall()
sql_df = pd.read_sql(sql_query, conn)