[Reference](https://rajansahu713.medium.com/learn-a-z-excel-automation-with-python-e07fd42d37ad)

In [1]:
pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

# Write data to excel spreadsheets using Openpyxl

In [4]:
from openpyxl import Workbook
wb = Workbook()
sheet = wb.active

sheet['A1'] = "Roll"
sheet['A2'] = 1
sheet['A3'] = 2
sheet['A4'] = 3

sheet['B1'] = "Name"
sheet['B2'] = "Mickel"
sheet['B3'] = "Ronit"
sheet['B4'] = "Ronit"

sheet['C1'] = "Marks"
sheet['C2'] = 80
sheet['C3'] = 68
sheet['C4'] = 39

wb.save("./Student_Record_1.xlsx")

# Write data to excel spreadsheets using Pandas

In [5]:
import pandas as pd

Roll = [1, 2, 3]
Name = ["Mickel", "Ronit", "Ronit"]
Marks = [80, 68, 39]

df = pd.DataFrame({'Name':Name, 'Roll':Roll, 'Marks': Marks})
writer = pd.ExcelWriter('./Student_Record_2.xlsx')
df.to_excel(writer, sheet_name='sheet', header=True, index=False)
writer.save()

# Read data from excel spreadsheets using Openpyxl

In [6]:
import openpyxl 
path = './Student_Record_1.xlsx'
wb = openpyxl.load_workbook(path)
sheet = wb.active
for row in sheet:
    print([data.value for data in row])

['Roll', 'Name', 'Marks']
[1, 'Mickel', 80]
[2, 'Ronit', 68]
[3, 'Ronit', 39]

# Read data from excel spreadsheets using Pandas

In [7]:
import pandas as pd

df = pd.read_excel("./Student_Record_2.xlsx", sheet_name='sheet1')
print(df)

     Name  Roll  Marks
0  Mickel     1     80
1   Ronit     2     68
2   Ronit     3     39

# Creating Multiple spreadsheets in excel

In [10]:
import openpyxl

book = openpyxl.load_workbook('./Sample_file.xlsx')
print("Before Creating: ", book.sheetnames)

book.create_sheet("Student")
print("After Creating: ", book.sheetnames)

book.create_sheet("Teacher", 0)
print("After Creating: ", book.sheetnames)

book.remove(book['Sheet'])
print("After Deleting: ", book.sheetnames)

book.save('./Sample_file.xlsx')

# Combining multiple excel spreadsheets into a single excel spreadsheet

In [12]:
# importing the module
import pandas
  
# reading the files
df1 = pandas.read_excel("./Student_details.xlsx")
df2 = pandas.read_excel("./Marks.xlsx")
  
# merging the files
df3 = df1[["Roll No","Name","Email id"]].merge(df2[["Roll No","English", "Science", "History"]], on = "Roll No", how = "left")
  
# creating a new file
df3.to_excel("./Student_details_with_marks.xlsx", index = False)

# Drawing Bar graph using Openpyxl

In [13]:
import openpyxl
from openpyxl.chart import BarChart, Series, Reference

path = "Data/Mark.xlsx"
wb = openpyxl.load_workbook(path)
ws = wb.active

chart1 = BarChart()
chart1.type = "col"
chart1.style = 10
chart1.title = "Bar Chart"
chart1.y_axis.title = 'Marks Obtain'
chart1.x_axis.title = 'Roll No'

data = Reference(ws, min_col=2, min_row=1, max_row=11, max_col=4)
cats = Reference(ws, min_col=1, min_row=2, max_row=11)
chart1.add_data(data, titles_from_data=True)
chart1.set_categories(cats)
chart1.shape = 4
ws.add_chart(chart1, "A10")

wb.save("Data/Mark.xlsx")