[Reference](https://towardsdatascience.com/learn-how-to-easily-do-3-advanced-excel-tasks-in-python-925a6b7dd081)

In [1]:
import pandas as pd
sales = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/pythonexcel.xlsx', sheet_name = 'sales')
states = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/pythonexcel.xlsx', sheet_name = 'states')

In [2]:
print(sales.head())

    Product  Sales       Date           City
0   Bananas    121 2019-06-13        Atlanta
1   Bananas    236 2019-10-20        Atlanta
2    Apples    981 2019-03-12        Atlanta
3     Bread    996 2019-07-28  New York City
4  Brocolli    790 2019-10-22  New York City

In [3]:
sales['MoreThan500'] = ['Yes' if x > 500 else 'No' for x in sales['Sales']]

In [4]:
sales = pd.merge(sales, states, how='left', on='City')

In [5]:
sales.pivot_table(index = 'City', values = 'Sales', aggfunc = 'sum')

               Sales
City
Atlanta         7642
New York City   8249
Portland        4231
Toronto         9571